:host {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: blueviolet;
  background: #333;
  background-image: url('/assets/MAIN.jpg');
  background-size: cover;
}

div.main {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  align-content: center;
  /* border: 2px solid red; */
  
  text-align: center;
  place-content: center;
  outline: 2px;
  
}
div.photo-single {
  grid-row-start: 2;
  transform: rotate(-7deg) scaleX(0.6) scaleY(0.6);
  outline-style: solid;
  outline-color: yellow;
  outline-width: thick;
}
div.photo-strip {
  grid-row-start: 2;
  transform: rotate(10deg) scaleX(0.42) scaleY(0.95);
  outline-style: solid;
  outline-color: yellow;
  outline-width: thick;
}
div.photo-multi {
  grid-row-start: 2;
  transform: rotate(10deg) scaleX(0.62) scaleY(0.6);
  outline-style: solid;
  outline-color: yellow;
  outline-width: thick;
  background-color: yellowgreen;
}
a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  background-color: tomato;
}